body { font-family: "Lato", sans-serif; transition: background-color .5s ; }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
   transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav{padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

a  { font-size: 1.5em; color: #377ba8; }
h1, h2, h3 { font-family: 'Georgia', serif; color: #377ba8; margin: 0; }
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
h3 { font-size: 0.5em}
.page { margin: 2em auto; width: 99%; border: 5px solid #ccc;
padding: 1em; background: white; }
.entries { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
.entries td { border: 2px solid #808080; align-content: center;
    padding: 8px;
}
.entries th { border: 2px solid #808080; padding: 8px; }
.entries tr:nth-child(even){background-color: #f2f2f2; }
.entries tr:hover {background-color: #ddd; }
.entries th {padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;}
.add-entry { font-size: 0.9em; border-bottom: 1px solid #eee; }
.add-entry dl { font-weight: bold; }
.metanav { text-align: right; font-size: 0.8em; padding: 0.3em;
margin-bottom: 1em; background: #fafafa; }
.flash { background: #cee5F5; padding: 0.5em;
border: 1px solid #aacbe2; }
.error { background: #f0d6d6; padding: 0.5em; }
