{% extends 'layout.html' %}
{% block body %}

<h2>Shopping History</h2>
     <div>
        <ul>
            <li>Company Shop</li>
            <li>Name of Bank: KredoBank</li>
            <li>IBAN:  UA3334446666777 </li>
            <li>Code of Bank: 45677756</li>
        </ul>
    </div>

    <div>
        <ul>Shop Сompany thanks you for the products you bought</ul>
    </div>

        <p id="demo"></p>
<!--створити ще одну таблицю shopping history, дані брати з basket_entries -->
 {% if session.logged_in and session.userId %}
    <h2>Shopping History</h2>
    <table class="entries">

        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Customer</th>
            <th>Date</th>

        </tr>

    {% for h in history %}
        {% if session.logged_in and session.userId %}
            <tr>
                <td>{{ h.name }}</td>
                <td>{{ h.model }}</td>
                <td>{{ h.quantity }}</td>
                <td>{{ h.price }}</td>
                <td>{{ h.customer }}</td>
                <td>{{ h.date }}</td>

            </tr>
        {% endif %}
    {% endfor %}
    </table>
 {% endif %}
{% endblock %}