{% extends 'layout.html' %}
{% block body %}


    <p id="demo"></p>
<!--створити ще одну таблицю для кошика, дані брати з basket_entries -->

    <h2>My Basket</h2>
    <table class="entries">

        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>

    {% for bask in basket %}
        {% if session.logged_in and session.userId %}
            <tr>
                <td>{{ bask.name }}</td>
                <td>{{ bask.model }}</td>
                <td>{{ bask.price }}</td>
                <td>{{ bask.quantity }}</td>
                <td>{{ bask.cost }}</td>


            </tr>
        {% endif %}
    {% endfor %}

    </table>

{% if session.logged_in and session.userId %}
    <p>SUM = {{ sum }} $ </p>


{% endif %}
  <p id="demo"></p>

    <h2>Bank Details</h2>
     <div>
        <ul>
            <li>Company Shop</li>
            <li>Name of Bank: KredoBank</li>
            <li>IBAN:  UA3334446666777 </li>
            <li>Code of Bank: 45677756</li>

        </ul>
    </div>

{% if session.logged_in and session.userId %}

<form action="{{ url_for('del_bask') }}" method="post" >
        <dl>

            <dt>Card number:
            <dd><input type="text" size=35 name="number">
            <dt>Valid thru :
            <dd><input type="text" size="15" name="valid">
            <dt>cvv:
            <dd><input type="text" size="10" name="svv">
            <p id="demo"></p>
            <dd><input type=submit value="Submit" class="cbutton">

        </dl>
</form>
    {% if session.logged_in and session.userId %}
    <!-- <a href="{{ url_for('del_bask') }}">to buy</a> -->
    {% endif %}
{% endif %}

{% endblock %}