{% extends 'layout.html' %}
{% block body %}

<p> id="demo"></p>
{% if session.logged_in and session.is_admin %}


    <h2>Customers</h2>
    <table class="entries">

        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Customer</th>
            <th>custom_login</th>
            <th>custom_name</th>
            <th>Date</th>
        </tr>

    {% for z in customers %}
        {% if session.logged_in and session.is_admin  %}

            <tr>
                <td>{{ z.name }}</td>
                <td>{{ z.model  }}</td>
                <td>{{ z.price }}</td>
                <td>{{ z.quantity }}</td>
                <td>{{ z.customer }}</td>
                <td>{{ z.custom_login }}</td>
                <td>{{ z.custom_name }}</td>
                <td>{{ z.date }}</td>

            </tr>
        {% endif %}
    {% endfor %}
    </table>



{% endif %}
{% endblock %}