{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="error"><strong>Error:</strong>{{ error }}{% endif %}
   <script>
            function validate(form) {
                let price = form.price.value;
                let priceRegex = RegExp(/^\d+\.\d{2}$/);
                let priceResult = priceRegex.test(price);

                if (!priceResult) {
                    alert("Please write valid value x.xx")
                }

                let qty = form.quantity.value;
                let qtyRegex = RegExp(/^\d+$/);
                let qtyResult = qtyRegex.test(qty);

                if (!qtyResult) {
                    alert("Please write valid value xxx")
                }

                return true  //priceResult && qtyResult;
            }
            </script>

{% if session.logged_in and session.is_admin %}

    <form action="{{ url_for('list_product') }}" method=POST class=add-entry
          enctype='multipart/form-data' onsubmit="return validate(this)">
        <dl>
            <dt>Name:
            <dd><input type=text size=35 name=name>
            <dt>Model:
            <dd><input type="text" size=35 name="model">
            <dt>Price:
            <dd><input type="text" size="25" id="price" name="price" step="0.01" min="0.01" max="9999999.99" >
            <dt>Quantity:
            <dd><input type="text" size="25" id="quantity" name="quantity" min="1" max="1000" >
            <dt>Image:
            <dd><input type="file" size="35" id="img" name="img" value="Вибрати файл">
            <dd><input type=submit value="Add Product">

        </dl>
    </form>


    <p id="demo"></p>
     <form action="{{ url_for('customers') }}" method=get class=add-entry>
        <dl>
            <dd><input type=submit value="See Customers">
        </dl>
    </form>

{% endif %}

    <p id="demo"></p>

    <h2>Catalog</h2>
    <table class="entries">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image</th>
                <th></th>
            </tr>
        </tbody>

    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.model }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td><img src= "/picture/{{ product.img }}"></td>

            <td>
                {% if session.logged_in and session.userId %}
                <form action="{{ url_for('add_basket')}}" method="post" >
                    <input type="hidden" name="id" value="{{ product.id }}" />
                    <input type="text" class="cbutton" value="1" name="quantity"/>
                    <input type="submit" name="basket" value="in basket" class="cbutton"/>
                </form>
                {% endif %}



                {%  if session.logged_in and session.is_admin %}
                <form action="{{ url_for('delete_product') }}" method="post">
                    <input type="hidden" name="id" value="{{ product.id }}"/>
                    <input type="submit" name="basket" value="Delete" class="cbutton"/>
                </form>
            {% endif %}
            </td>
        </tr>

        {% else %}
            <tr><th>The product is available to register users</th></tr>
    {% endfor %}

    </table>

<hr>
   <!-- створити ще одну таблицю для кошика, дані брати з basket_products -->
<h2>Basket</h2>
    <table class="entries">
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th></th>
    </tr>

    {% for entry in basket %}

    <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.model }}</td>
        <td>{{ entry.price }}</td>
        <td>{{ entry.quantity }}</td>
        <td>{{ entry.cost }}</td>
        <td>
            <form action="{{ url_for('delete_basket') }}" method="post">
                <input type="hidden" name="id" value="{{ entry.basket_Id }}"/>
                <input type="submit" name="basket" value="Delete" class="cbutton"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    </table>

    <a href="{{ url_for('buy') }}">go to pay</a>
{% endblock %}
