{% extends 'layout.html' %}
{% block body %}


    <p id="demo"></p>
    <!--створити ще одну таблицю для кошика, дані брати з basket_entries -->
    {% if session.logged_in and session.userId %}
        <h2>Shopping history</h2>

        {% for date in shopping_h %}
            <table class="entries">
                <tr>
                    <td style="background-color: #cccccc; border: 0">Date</td>
                    <td colspan="3" style="background-color: #cccccc;border: 0">{{ date }}</td>
                </tr>
            </table>

            <table class="entries">
                <tr>
                    <th style="background-color: #377ba8">Product name</th>
                    <th style="background-color: #377ba8">Product model</th>
                    <th style="background-color: #377ba8">Price</th>
                    <th style="background-color: #377ba8">Quantity</th>
                </tr>

                {% for row in shopping_h[date] %}
                    <tr>
                        <td>{{ row.p_name }}</td>
                        <td>{{ row.p_model }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.quantity }}</td>
                    </tr>
                {% endfor %}

            </table>
            <p>&nbsp;</p>
        {% endfor %}


    {% endif %}

{% endblock %}