{% extends 'layout.html' %}
{% block body %}


    <p id="demo"></p>
<!--створити ще одну таблицю для кошика, дані брати з basket_entries -->
{% if session.logged_in and session.userId %}
    <h2>Shopping history</h2>
    <table class="entries">

        <tr>
            <th>User login</th>
            <th>User name</th>
            <th>Date</th>
            <th>Product name</th>
            <th>Product model</th>
            <th>Price</th>
            <th>Quantity</th>

        </tr>

    {% for hist in shopping_h %}
        {% if session.logged_in and session.userId %}
            <tr>
                <td>{{ hist.u_login }}</td>
                <td>{{ hist.u_name }}</td>
                <td>{{ hist.date }}</td>
                <td>{{ hist.p_name }}</td>
                <td>{{ hist.p_model }}</td>
                <td>{{ hist.price }}</td>
                <td>{{ hist.quantity }}</td>

            </tr>
        {% endif %}
    {% endfor %}

    </table>

{% endif %}

{% endblock %}